body {
    color: #333;
    font-size: 14px;
}
.container {
    width: 90vw;
    margin: 0 auto;
    padding: 10px 0;
}
.section-heading {
    background: #3766b0;
    color: #fff;
    font-weight: bold;
    padding: 5px;
    font-size: 16px;
}


.table-container {
    width: calc(90vw - 20px);
    overflow: auto;
}
.table-container-full {
    width: 90vw;
    overflow: auto;
}
.feePayee-dataTable {
    /* margin: 15px 0; */
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 3px;
    min-width: 950px;
}
.feePayee-dataTable .dataRow {
    display: flex;
    border-bottom:1px solid #ccc;
}
.feePayee-dataTable .dataRow:last-child {
    border-bottom:none;
}
.feePayee-dataTable .dataRow > div {
    padding: 5px;
    border-right:1px solid #ccc;
}
.feePayee-dataTable .dataRow .icon {
    height: 20px;
    width: auto;
    box-sizing: border-box;
}
.feePayee-dataTable .dataRow .icon-bordered {
    
    background: #62b7ed;
    padding: 2px;
    border-radius: 50%;
}
.feePayee-dataTable .dataRow .title-col {
    /* flex:1; */
    width: 160px;
}
.feePayee-dataTable .dataRow .edit-col {
    /* flex:1; */
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feePayee-dataTable .dataRow .del-col {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: none;
}
.feePayee-dataTable .dataRow .desc-col {
    flex:1;
    display: flex;
    padding: 0;
}
.feePayee-dataTable .dataRow .desc-col div {
    /* padding: 3px; */
}
.feePayee-dataTable .dataRow .desc-col div.title {
    height: 32px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding-top: 8px;
    box-sizing: border-box;
}
.feePayee-dataTable .dataRow .desc-col div.value {
    display: flex;
    justify-content: center;
    /* border-bottom: 1px solid #ccc; */
    min-height: 25px;
    padding-top: 5px;
}
.feePayee-dataTable .dataRow .desc-col .desc-head {
    width: 120px;
    border-right: 1px solid #ccc;
}
.feePayee-dataTable .dataRow .desc-col .desc-content {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.feePayee-dataTable .dataRow .desc-col .desc-content > div {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
}
.feePayee-dataTable .dataRow .desc-col .desc-content > div:nth-child(n+5) {
    border-top: 1px solid #ccc;
}